<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="./app/styles/main.css">
</head>
<body>
    <div class="header">
        <span class="h-text"> Welcome to simple chat application</span>
        <img src="./images/chaticon.png" class="h-icon" alt="...">
    </div>
    <div class="chat-container">
        <div class="left-box"></div>
        <div class="right-box"></div>
    </div>
</body>
</html>

